<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %date{dd MMM yyyy HH:mm:ss}	 %green([%thread]) %highlight(%level) %logger{50} - %magenta(%msg%n)
            </pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>